body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: lavender;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  box-sizing: border-box;
  width: 350px;
  padding: 30px;
  margin-top: 25%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #e2e2e2;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: #3a3280;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
}

p {
  margin: 0;
}

button {
  box-sizing: border-box;
  border-radius: 5px;
}

label {
  display: inline-block;
  align-items: baseline;
  position: relative;
  padding-top: 1px;
  padding-left: 40px;
  margin: 5px 0px 15px 5px;
  overflow-wrap: break-word;
  width: 225px;
}

label,
button,
.delete {
  cursor: pointer;
}

label,
input[type='text'] {
  font-size: 20px;
}

.delete {
  color: #9e9e9e;
  margin-top: 8px;
  margin-left: 10px;
}

.form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #4f4f4f;
  border-radius: 100%;
}

.form div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form button {
  color: white;
  background-color: #3a3280;
  border: none;
  padding: 10px;
  width: 75px;
}

main > button {
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 15px;
  color: #3a3280;
  background-color: white;
  border: 1px solid #3a3280;
  width: 290px;
}

.container h1 {
  margin: 0;
}

input[type='text'] {
  display: inline-block;
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #3a3280;
  width: 165px;
}

input[type='text']:focus {
  outline: none;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

label input:checked ~ .checkmark {
  border: 1px solid #9e9e9e;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

label input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 11px;
  top: 6px;
  width: 6px;
  height: 12px;
  border: solid #9e9e9e;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
